<ion-header>
  <ion-toolbar class="toolbar-duoc">
    <div class="header-contenido">

      <div class="lado-izquierdo">
        <div class="grupo-clima-menu">
          <ion-buttons>
            <ion-menu-button autoHide="false" class="menu-blanco"></ion-menu-button>
          </ion-buttons>

          <div class="clima-box">
            <ion-icon name="partly-sunny-outline"></ion-icon>
            <span>18°C, Puente Alto</span>
          </div>
        </div>
      </div>
      <div class="lado-derecho">
        <img src="assets/logoDuocBlanco.png" alt="Logo Duoc UC" class="logo-duoc">
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <!-- LISTA -->
    <ion-card class="card-item">
      <ion-card-content>
        <h2>Taller Deportivo</h2>
        <p>400 puntos</p>
        <span class="tipo deporte">Deportivo</span>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-item">
      <ion-card-content>
        <h2>Actividad de Integración</h2>
        <p>150 puntos</p>
        <span class="tipo integracion">Integración</span>
      </ion-card-content>
    </ion-card>

    <!-- BOTÓN -->
    <ion-button expand="block" class="btn-agregar">
      Agregar Actividad
    </ion-button>

  </div>

</ion-content>